<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "NumberCheck" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
          <div class="card-body">
              <form (ngSubmit)="submit()">
                  <div class="form-group">
                      <label for="InputNumber">Enter Number</label>
                      <input [(ngModel)]="InputNumber" name="InputNumber" id="InputNumber"
                             type="text"
                             class="form-control">
                     
                      <label for="OutputResult">Result:</label>
                      <input [(ngModel)]="OutputResult" name="OutputResult" id="OutputResult"
                             type="text"
                             class="form-control">
                  </div>
                  <!--<button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>-->
                  <button class="btn btn-primary" type="submit">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </section>
</div>
